/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{box-sizing: border-box}
.wrap{
	width: 440px;
	margin: 0 auto;
}
@media (min-width: 767px) {
.wrap{
	width: 768px;
	margin: 0 auto;
}
}
@media (min-width: 992px) {
.wrap{
	width: 1024px;
	margin: 0 auto;
}
}
@media (min-width: 1200px) {
.wrap{
	width: 1400px;
	margin: 0 auto;
}
}
.sns{
	background-color:#F6F6F8;
	padding: 1%;
}
.sns ul{
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;
}
.facebook a{
	color: #4267B2;
	text-decoration: none;
	padding: 0px 12px;
	border-right: 1px solid #CCCCCC;
}
.facebook a img, .twitter a img{
	padding-right: 5px;
}
.twitter a{
	color: #1DA1F2;
	text-decoration: none;
	padding: 0px 12px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo h1 a{
	display: block;
	width: 100%;
	height: 100%;
}
.logo h1{
	width: 170px;
  height: 36px;
	background: url(../images/logo.png) no-repeat;
  background-size: 100% auto;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
}
.menu>ul{
	display: flex;
}
.menu>ul>li{
	position: relative;
}
.menu>ul>li>a{
	display: block;
	color: #00251A;
	font-weight: bold;
	text-decoration: none;
	padding: 32px 40px;
}
.menu>ul>li>a:hover, .dropdown.active{
	color: #00CC99;
}
.dropdown-open{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	width: 100%;
}
.dropdown-open li a{
	display: block;
	padding: 32px 14px;
	text-decoration: none;
	color: #00251A;
	background-color: #fff;
	text-align: center;
}

.dropdown-open li a:hover{
	color: white;
	background-color: #029d76;
}
/*.banner{
	width: 100%;
	height: 390px;
	background: url(../images/hexschool-banner.png) no-repeat;
	display: flex;
 	flex-direction: column;
  	justify-content: center;
}*/

.swiper{
	width: 100%;
	height: 418px;
	position: relative;
}
.swiper-slide{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: brightness(1.5); 
}
.catch-copy{
	position: absolute;
	top: 25%;
	width: 100%;
	background: #FFFFFF98;
	z-index: 5;
}
.catch-copy h2{
	font-size: 36px;
	color: #00251A;
	line-height: 1.5;
	padding: 50px;
	margin-left: 50px;
}
.swiper-button-prev, .swiper-button-next{
	z-index: 10;
}
.content{
	width: 100%;
	margin: 0 auto;
} 
.content>ul{
  display: flex;
	justify-content: space-between;
	margin-top: 60px;
} 
.content>ul>li{
	width: 33.3%;
	margin: 0 5px;
	box-shadow: 2px 0px 4px 0px #00000029;
	text-align: center;
	line-height: 1.5;
}
.content>ul>li>h3{
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}
.content>ul>li>h4{
	line-height: 1.65;
	text-align: justify;
  padding: 3.5%;
}
.compare h3{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: bold;
}
.jQuery img{
	margin: 40px 0;
}
img{
  max-width: 100%;
}
.compare {
width: 95%;
margin: 0 auto;
}
.compare table{
  width: 95%;
	margin: 0 auto;
	margin-bottom: 60px;
}
.compare th, .compare td{
  text-align: left;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 12px 0 12px 0;
}
.compare th{
  font-weight: bold;
}
.td-green{
	color:#00CC99;
}
.survey{
  display: block;
  flex-direction: row;
  align-items: center;
  margin-top: 36px; 
  background: linear-gradient(180deg, #00644b 0%, #009872 100%);
  padding: 18px;
}
@media (min-width: 767px) {
.survey{
  display: flex;
  flex-direction: column;
}
}
.survey h3{
  margin: 36px 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  color: #fefefe;
}

.form-up{
	display: block;
  text-align: center;
}
@media (min-width: 767px) {
  .form-up{
	display: flex;
  justify-content: center;
  align-items: center;
}
}
.form-up label{
	display: block;
	margin-bottom: 8px;
  color: #fefefe;
  text-align: left;
}
.form-left{
	margin: 0 15px;
}
.form-left input{
	margin-bottom: 16px;
	width: 350px;
	border-radius: 3px;
	padding: 9px;
}
.form-right{
	margin: 0 15px;
}
.form-right textarea{
  resize: none;
  width: 350px;
  height: 194px;
  border-radius: 3px;
}
.form-down{
	text-align: right;
}
.form-down input{
  text-align: center;
  padding: 10px 64px;
  background: #00cc99;
  color: #fefefe;
  margin-top: 32px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: unset;
  border: unset;
}
.form-down input:hover{
  color:#00251A;
  background: white;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 20px;
}
.contact{
  line-height: 1.5;
}

.contact ul li a{
  color: #00cc99;
  text-decoration: none;
  
}
.arrow{
	position: fixed;
	right: 0;
	bottom: 10%;
	width: 50px;
	height: 50px;
	z-index: 999;
	background-color: gray;
	border-radius: 5px;
}
.arrow img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.swiper-button-next, .swiper-button-prev{
  color: #00CC99!important;
}